<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1944708377-4smr6qpfnhl38nvnvhjijve167m64v4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1944708377-4smr6qpfnhl38nvnvhjijve167m64v4g</string>
	<key>API_KEY</key>
	<string>AIzaSyAedLpqfUpHoRMchlS2h3yzlU1o0vsxf2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1944708377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vndirect.stockbook</string>
	<key>PROJECT_ID</key>
	<string>superappon</string>
	<key>STORAGE_BUCKET</key>
	<string>superappon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1944708377:ios:c6157e1ebe06168a3dd188</string>
</dict>
</plist>